$modalDuration: 1s;
$lightColor: rgb(238, 238, 238);
$loseColor: rgb(145, 0, 0);
$winColor: rgb(23, 138, 0);

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background: $lightColor;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  animation-name: modalopen;
  animation-duration: $modalDuration;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.233);
}

.modal__text {
  margin-bottom: 1rem;
}

.modal__text--win {
  color: $winColor;
}

.modal__text--lose {
  color: $loseColor;
}

.modal__content p {
  font-size: 1.2rem;
  margin-top: 1rem;;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opactiy: 1;
  }
}